/* Add this to your CSS */

body {
  background-color: #ae8e8e;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #ae8e8e;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  nav {
    background-color: #ddd;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  .terms-content {
    width: 80%;
    margin: 0 auto;
  }
  
  .terms-content h2 {
    margin-top: 20px;
  }
  
  .terms-content p {
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #dd8e2e;
    color: #101010;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }


  .footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 1;
    margin: 0 10px;
  }
 
  .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .social-media-icon {
    margin: 0 10px;
  }
  .social-media-icon img{
    width: 30px;
  }
  .contact-info {
    margin-top: 0px;
  
  }
